div.popuptab {
    border: 1px solid #c1c1c1;
    padding: 15px;
    border-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
div.popuptab:not(:last-child) {
    border-right: 0;
}
.popup-head {
    display: flex;
}